--swiftversion 5.9
--maxwidth 140
--indent 4
--commas inline
--trimwhitespace always
--ifdef no-indent
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--self remove
--header strip
